<%= flash_messages %>
<h2>All Favorites</h2>
<div class="list-block">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-md-2">Name</th>
        <th class="col-md-2">Author</th>
        <th class="col-md-2">Qt. Tasks</th>
        <th class="col-md-2">Permissão</th>
        <th class="col-md-4">Options</th>
      </tr>
    </thead>
    <tbody>
      <% @lists.each do |list| %>
        <tr>
          <td class="col-md-2"><%= list.name %></td>
          <td class="col-md-2"><%= list.author.try(:email) %></td>
          <td class="col-md-2"><%= list.tasks.count %></td>
          <td class="col-md-2"><%= list.isPublic ? "Public" : "Private" %></td>
          <td class="col-md-4">
            <a href="<%= set_favorites_path(:list_id => list.id, :root_path => "fav") %>">
              <% if Favorite.where(:user_id => current_user.id, :list_id => list.id).count > 0 %>
                  <%= image_tag "heart-like.png" %>
              <% else %>
                  <%= image_tag "heart-unlike.png" %>
              <% end %>
            </a>
          </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>